{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>About us</h1>
    <p>We are committed to keeping your information secure.</p>
    <image src="{{ url_for('static', filename='images/thesecure.png')}}" width="200" height="180" style="position:absolute; right:-41px; top:43px">
  </div>
    <body>
      <h1><center>Privacy is our top priority</center></h1>
      <p>Here at secure confidential, we pride ourselves on giving our customers world class security to ensure them with the peace of mind knowning that their information is safe and secure. After all, everyone is entitled to have privacy. We can also safely say that we have had zero security issues thus far. Putting your information in someone else's hands is scary, that is why we make it easy to do so. Consider banking with us as we promise your account information is safe and secure.</p>

    </body>

{% endblock %}
